/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

@font-face{
  font-family: mainFont;
  src: url(./assets/styles/font-family/eight-bit-dragon-font/EightBitDragon-anqx.ttf)
}

body{
  font-family: mainFont,'Courier New', Courier, monospace; 
  /* background: #1B1D22;  */
  color: whitesmoke; 

  background: #a3a1a1;
  outline: 2px solid black;
  border-radius: 5px;
  margin-top: 35px;
  /* width: 100%; */
  max-width: 917px;
  /* margin: auto; */
  /* margin-top: 18px; */
  cursor: url('../src/assets/icons/default_cursor.png'),auto;
}

ul:hover, a:hover, .visual-btn--tablet{
  cursor: url('../src/assets/icons/cursor_hover.png'), auto;
} 

/* .url {cursor: url(myBall.cur),auto;} */

body {
  
  font-family: mainFont,'Courier New', Courier, monospace;
  background: #9c9c9c;
  color: whitesmoke; 
  /* background: wheat; */
  background-color: #eeeeee;
  background: white;
  background-size: 20px 20px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px); 
}




/* header and div with the id of testing  */

header {
  text-align: right;
}

.nav-bar{
  display:none;   
  /* max-height: 0; */
  /* this is where when commented out, the gap will be shown */
  overflow: hidden;

}

.nav-bar.open{
  display: block;
  /* max-height: 1000px; */
  /* overflow: visible;  */
      /* width: 12%; */
    /* display: block; */
    align-self: center;
    /* padding-left: 3px; */
    margin-right: 7px;
    position: sticky;
    top: 0;
    z-index: 1;
}

button{
  /* border: 2px solid white; */
  /* height: 10px; */
  /* width: 10%; */
  /* height: 47px;
  background-color: transparent; */

  border: 2px solid white;
  /* height: 10px; */
  /* width: 10%; */
  /* height: 47px; */
  background-color: transparent;
  margin-left: 6px;
}

.hamburger-logo{
  font-size: 30px;
  color: white; 
}

ul{
  /* height: 150px; */
  /* height: 100px;  */
  height: 60px;
}

li, a{
  list-style: none;
  text-decoration: none;
  color: white;
  text-align: center;
}

.toc-nav{
  margin: 16px auto;
  padding-top: 6px;
  
}

/* .toc-nav a {
  height: 23px;
  padding-top: 6px;
  width: 75%;
} */

.toc-nav a:hover {
  background-color: #2d4a30ad;
  border-radius: 5px;
  background-color: #2d4a30b3;
  width: 75%;
  display: inline-block;
  height: 23px;
  /* padding-top: 6px; */
}

#root.click{
  background-image: url("../src/assets/background-images/black-squares-edit.jpg");
}

/* #testing{
  background: #a3a1a1;
} */

header{
  background: #a3a1a1;
}

.visual-btn--tablet{
  display:none; 
}

header{
      /* text-align: center; */
    /* padding-top: 50px; */
    /* padding-bottom: 50px; */
    border-top: 2px solid black;
    background: rgb(137, 176, 168);
    border-color: rgb(162, 199, 192) rgb(5, 6, 8) rgb(5, 6, 8) rgb(162, 199, 192);
    box-shadow: rgb(206, 232, 227) 1px 1px 0px 1px inset, rgb(82, 109, 103) -1px -1px 0px 1px inset;
    /* box-sizing: border-box; */
    /* margin-top: 0px; */
    /* height: 85px; */
    padding-top: 10px;
    padding-bottom: 10px;
    /* display: flex;
    justify-content: space-between; */
    position: sticky;
    top: 0;
    z-index: 1;
}

/* h2{
  margin-left: 7px
} */

.header__mobile{
  width: 100%;
  display: flex;
  align-items: center;
}

.header__h2{
  margin-left: 7px;
  width: 71%;
  text-align: left;
  /* position: relative; */
  color: rgb(82, 109, 103);
  --pixel-size: 1px;
  text-shadow: calc(-1 * var(--pixel-size)) calc(-1 * var(--pixel-size)) 0px #050608,var(--pixel-size) var(--pixel-size) 0px #cee8e3;
  font-style: italic;
  /* font-family: ms_sans_serif; */
  padding-left: 2px;
}

::-webkit-scrollbar-thumb {
  box-sizing: border-box;
  display: inline-block;
  background: rgb(198, 198, 198);
  color: rgb(10, 10, 10);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(223, 223, 223) rgb(10, 10, 10) rgb(10, 10, 10) rgb(223, 223, 223);
  box-shadow: rgb(254, 254, 254) 1px 1px 0px 1px inset, rgb(132, 133, 132) -1px -1px 0px 1px inset;
  outline-offset: -2px;
}

::-webkit-scrollbar-track {
  background-image: linear-gradient(45deg, rgb(198, 198, 198) 25%, transparent 25%, transparent 75%, rgb(198, 198, 198) 75%), linear-gradient(45deg, rgb(198, 198, 198) 25%, transparent 25%, transparent 75%, rgb(198, 198, 198) 75%);
  background-color: rgb(254, 254, 254);
  background-size: 4px 4px;
  background-position: 0px 0px, 2px 2px;
}

.visual-btn--mobile{
  border: 2px solid white;
  /* height: 10px; */
  /* width: 10%; */
  /* height: 47px; */
  background-color: transparent;
  margin-left: 6px;
  border: 2px solid #145d12;
  font-family: monospace;
  background: gray;
  /* height:23px;  */
  height: 45px;
  border-radius: 3px;
  width: 20%;
}

.hamburger-btn-mobile{
  margin-right: 6px;
  
}

/****************
  
  BreakPoints

****************/

/* 640 pixels for tablet  */

/* 40rem */
@media screen and (min-width: 690px ){
  .nav-bar-mobile{
    display: none; 
  }
  header{
    /* padding-top: 0.625rem;  */
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding-left:1rem;
    padding-right:1rem; 
    /* height: 100px;  */
    height: 85px;
  }

  .header__h2{
    width: 25%;
  }
  .header__mobile{
    width: 100%;
    display: flex;
    align-items: initial;
  }

  .header__tablet{
    display: flex;
    /* justify-content: space-around; */
    width: 100%;
  }
  body {
    margin: auto;
    margin-top: 18px;
    /* margin-top: 18px; */
}
   .btn-none{
    display:none;
  }
  .nav-bar-tablet{
    display: block;
    width: 90%; 
  }
  .nav-bar-tablet ul{
    /* display: flex;
    flex-direction: row; */
    /* text-align: center; */
    /* margin: auto; */
    /* align-content: space-between;
    justify-content: space-evenly; */
    text-align: center;
    /* margin: auto; */
    display: flex;
    margin-top: 0;
    width: 49%;
    /* padding-right: 30px; */
  }
  .toc-nav{
    display: inline-block; 
    width: 20%;
    padding-bottom: 3.125rem; 
  }

  .nav-bar-tablet{
    display: flex;
    justify-content: flex-end;
    /* border-bottom: 2px solid black; */
  }
  /*
  header{
    display: none; 
  }

  li, a{
    font-size: 30px;
  } */

  .visual-btn--mobile{
    display:none; 
  }

  .visual-btn--tablet{
    display: inline-block;
    border: 2px solid #145d12;
    margin-top: 19px;
    height: 23px;
    align-self: flex-start;
    background: gray;
    border-radius: 3px;
    font-family: monospace;
    font-weight: 800;
    width: 18%;
  }
}

/* 1280 pixels/ 80rem for desktop  */
@media screen and (min-width: 80rem){

}

/* Big display */
@media screen and (min-width: 160rem ) {
  
}




























































/* .testing{
  text-align: right;
}

.navBar{
  text-align: center;
  list-style: none;
  max-height: 0;
  overflow:hidden;
}

.navBar.open{
  max-height: 1000px;
  overflow: visible;
}

li, a{
  list-style: none;
  color: rgb(182, 173, 173);
  text-decoration: none; 
} */