.about-me__photo, .about-me__info{
    background-color: #9c9c9c;
    text-align: center;
}

.about-me__photo{
    border-bottom: 2px solid black;
}

.about-me__photo-edit {
    background-color: #9c9c9c;
    border-radius: .875rem;
    height: 15.8125rem;
    margin: 3.25rem auto;
    border: 3.5px solid black;
}

.about-me__info{
    /* background-color: white; */
    color: black;
    /* border-radius: 9px; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    font-family: monospace;
    font-weight: 800;
    font-size: 20px;
    background-color: gray;
}

/****************
  
  BreakPoints

****************/

/* 640 pixels for tablet  */


@media screen and (min-width: 40rem ) {
    .about-me{
        display: flex; 
        flex-direction: row-reverse;
        /* gap: 10px;  */
    }

    .about-me__photo {
        border-bottom: none; 
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* 1280 pixels/ 80rem for desktop  */
@media screen and (min-width: 80rem){

}

/* Big display */
@media screen and (min-width: 160rem ) {
  
}