

.contact-page{
    font-size: 26px;
    padding-top: 10px; 
    background-color: white;
    color: black;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}



/****************
  
  BreakPoints

****************/

/* 640 pixels for tablet  */
@media screen and (min-width: 40rem ){
    .contact-page{
        width: 50%;
        text-align: center;
        margin: auto;
        padding-top: 10px; 
        padding-bottom: 10px;
    }
  }
  
  /* 1280 pixels/ 80rem for desktop  */
  @media screen and (min-width: 80rem){
  
  }
  
  /* Big display */
  @media screen and (min-width: 160rem ) {
    
  }