.footer-p{
    /* text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;  */
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 2px solid black;
    background: rgb(137, 176, 168);
    border-color: rgb(162, 199, 192) rgb(5, 6, 8) rgb(5, 6, 8) rgb(162, 199, 192);
    box-shadow: rgb(206, 232, 227) 1px 1px 0px 1px inset, rgb(82, 109, 103) -1px -1px 0px 1px inset;
    box-sizing: border-box;
    margin-top:0px; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #00000047;

}