/* .projects{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    font-family: monospace;
    font-size: 23px;
    font-weight: 600;
} */

.projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    font-family: monospace;
    font-size: 23px;
    font-weight: 600;
    margin-top: 23px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-bottom: 30px;
    background-color: gray;
    padding-top: 20px;
}
.projects__section-name{
    font-family: 'Press Start 2P', cursive;
    text-decoration: underline;
    font-size: 30px;
}


.projects__all{
    display: flex; 
    flex-direction: column;
    /* width: 72%;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 30px;
    border: 2px solid black;
    border-radius: 8px; */
}

.projects__image{
    width: 72%;
    text-align: center;
    /* display: block; */
    margin: auto;
    margin-top: 30px;
    border: 2px solid black;
    border-radius: 8px;
}

/* .projects__three{
    background: black;
    overflow: hidden;
    position: relative; 
}

.projects__image-three{
    object-fit: cover;
    opacity: 0.4;
    position: relative; 
}

.overlay{
    position: absolute;
    top: 30px;
    left: 126px;
    width: 72.5%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    text-align: center; 
     margin: auto; 
    opacity: 0;
    transition: opacity 0.3s ease;
}
.projects__three-span{
    color:white;
}

.overlay:hover{
    opacity: 1;
} */

/* .projects__all, span {
    animation: CsscrollReveal ease-in-out both; 
    animation-timeline: view();
    animation-range: entry 50% cover 50%; 
}

@keyframes CsscrollReveal {
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */

/****************
  
  BreakPoints

****************/

/* 640 pixels for tablet  */
@media screen and (min-width: 40rem ){
    .projects__image{
        width: 60%; 
    }

  }
  
  /* 1280 pixels/ 80rem for desktop  */
  @media screen and (min-width: 80rem){
    
    /* .home-photo{
        width: auto;

    } */

  }
  
  /* Big display */
  @media screen and (min-width: 160rem ) {
    
  }